<p id="notice"><%= notice %></p>

<h1>Listing Partner Role Types</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partner_role_types.each do |partner_role_type| %>
      <tr>
        <td><%= partner_role_type.code %></td>
        <td><%= partner_role_type.name %></td>
        <td><%= link_to 'Show', partner_role_type %></td>
        <td><%= link_to 'Edit', edit_partner_role_type_path(partner_role_type) %></td>
        <td><%= link_to 'Destroy', partner_role_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner role type', new_partner_role_type_path %>
