<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @partner_role_type.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @partner_role_type.name %>
</p>

<%= link_to 'Edit', edit_partner_role_type_path(@partner_role_type) %> |
<%= link_to 'Back', partner_role_types_path %>
