<p id="notice"><%= notice %></p>

<h1>Listing Banks</h1>

<table id='banks-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <!--<td><%= link_to 'Show', bank %></td>-->
        <!--<td><%= link_to 'Edit', edit_bank_path(bank) %></td>-->
        <!--<td><%= link_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank', new_bank_path %>
