<%= simple_form_for(@payment_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :order_no %>
    <%= f.input :umrn %>
    <%= f.input :txn_date %>
    <%= f.input :file_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
