<p id="notice"><%= notice %></p>

<h3>Payment Requests</h3>

<table id="payment-requests-table" class="display">
  <thead>
    <tr>
      <th>Order no</th>
      <th>Amount</th>
      <th>UMRN</th>
      <th>Debit date</th>
      <th>Status</th>
      <th>Mandate Id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_requests.each do |payment_request| %>
      <tr>
        <td><%= payment_request.order_no %></td>
        <td><%= payment_request.amount_total%></td>
        <td><%= payment_request.umrn %></td>
        <td><%= payment_request.txn_date %></td>
        <td><%= payment_request.status%></td>
        <td><%= payment_request.payment_mandate_id%></td>
        <!--<td><%= link_to 'Show', payment_request %></td>-->
        <td><%= link_to 'Edit', edit_payment_request_path(payment_request) %></td>
        <td><%= link_to "Submit", submit_payment_request_path(payment_request) %></td>

        <!--<td><%= link_to 'Destroy', payment_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment request', new_payment_request_path %>
