<p id="notice"><%= notice %></p>

<p>
  <strong>Order no:</strong>
  <%= @payment_request.order_no %>
</p>

<p>
  <strong>Umrn:</strong>
  <%= @payment_request.umrn %>
</p>

<p>
  <strong>Txn date:</strong>
  <%= @payment_request.txn_date %>
</p>

<p>
  <strong>File name:</strong>
  <%= @payment_request.file_name %>
</p>

<%= link_to 'Edit', edit_payment_request_path(@payment_request) %> |
<%= link_to 'Back', payment_requests_path %>
