<%= simple_form_for(@bank_account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :account_no %>
    <%= f.input :bank_code1 %>
    <%= f.input :code1_type %>
    <%= f.input :bank_code2 %>
    <%= f.input :code2_type %>
    <%= f.input :bank_location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
