<p id="notice"><%= notice %></p>

<h1>Listing Bank Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account no</th>
      <th>Bank code1</th>
      <th>Code1 type</th>
      <th>Bank code2</th>
      <th>Code2 type</th>
      <th>Bank location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.account_no %></td>
        <td><%= bank_account.bank_code1 %></td>
        <td><%= bank_account.code1_type %></td>
        <td><%= bank_account.bank_code2 %></td>
        <td><%= bank_account.code2_type %></td>
        <td><%= bank_account.bank_location %></td>
        <td><%= link_to 'Show', bank_account %></td>
        <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
        <td><%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank account', new_bank_account_path %>
