<p id="notice"><%= notice %></p>

<p>
  <strong>Account no:</strong>
  <%= @bank_account.account_no %>
</p>

<p>
  <strong>Bank code1:</strong>
  <%= @bank_account.bank_code1 %>
</p>

<p>
  <strong>Code1 type:</strong>
  <%= @bank_account.code1_type %>
</p>

<p>
  <strong>Bank code2:</strong>
  <%= @bank_account.bank_code2 %>
</p>

<p>
  <strong>Code2 type:</strong>
  <%= @bank_account.code2_type %>
</p>

<p>
  <strong>Bank location:</strong>
  <%= @bank_account.bank_location %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
