<%= simple_form_for(@payment_mandate) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mandate_no %>
    <%= f.input :mandate_status %>
    <%= f.input :payee_mobile_no%>
    <%= f.input :payer_mobile_no%>
    <%= f.input :mandate_status %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
