<p id="notice"><%= notice %></p>

<h3>Payment Mandates</h3>

<table id="payment-mandate-table" class="display">
  <thead>
    <tr>
      <th>Mandate no</th>
      <th>Status</th>
      <th>Retailer Name</th>
      <th>Retailer Account</th>
      <th>Retailer Bank</th>
      <th>Retailer Mobile</th>
      <th>Dist Name</th>
      <th>Dist Account</th>
      <th>Dist Bank </th>
      <th>Dist Mobile</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @payment_mandates.each do |payment_mandate| %>
      <tr>
        <td><%= payment_mandate.mandate_no%></td>
        <td><%= payment_mandate.mandate_status%></td>
        <td><%= payment_mandate.payer_name%></td>
        <td><%= payment_mandate.payer_acct_no%></td>
        <td><%= payment_mandate.payer_bank_code_type + ":" + payment_mandate.payer_bank_code   %></td>
        <td><%= payment_mandate.payer_mobile_no%></td>
        <td><%= payment_mandate.payee_name%></td>
        <td><%= payment_mandate.payee_acct_no%></td>
        <td><%= payment_mandate.payee_bank_code_type + ":" + payment_mandate.payee_bank_code %></td>
        <td><%= payment_mandate.payee_mobile_no%></td>
        <td><%= payment_mandate.start_date%></td>
        <td><%= payment_mandate.end_date%></td>
        <!--<td><%= link_to 'Show', payment_mandate %></td>-->
        <td><%= link_to 'Edit', edit_payment_mandate_path(payment_mandate) %></td>
        <!--<td><%= link_to 'Destroy', payment_mandate, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment mandate', new_payment_mandate_path %>
