<p id="notice"><%= notice %></p>

<p>
  <strong>Mandate no:</strong>
  <%= @payment_mandate.mandate_no %>
</p>

<p>
  <strong>Mandate status:</strong>
  <%= @payment_mandate.mandate_status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @payment_mandate.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @payment_mandate.end_date %>
</p>

<%= link_to 'Edit', edit_payment_mandate_path(@payment_mandate) %> |
<%= link_to 'Back', payment_mandates_path %>
